<div class="list-group">
  <h5 class="text-center">Dashboard</h5>
  <a [routerLink]="[{outlets: {contentOutlet: 'dashboard'} }]" routerLinkActive="active" class="list-group-item list-group-item-action">Dashboard</a>
  <a [routerLink]="[{outlets: {contentOutlet: 'produit'} }]" routerLinkActive="active" class="list-group-item list-group-item-action">Produit</a>
  <a [routerLink]="[{outlets: {contentOutlet: 'category'} }]" routerLinkActive="active" class="list-group-item list-group-item-action">Category</a>
  <a [routerLink]="[{outlets: {contentOutlet: 'user'} }]" routerLinkActive="active" class="list-group-item list-group-item-action">Utilisateur</a>
</div>