<div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
      	<div class="card">
      		<div class="card-header bg-info">
      			<p style="font-weight: bold;">Listes des Utilisateurs</p>
      		</div>
      		<div class="card-body">
      			<table class="table table-bordered table-hover">
      				<thead>
      					<tr>
      						<th>Nom</th>
      						<th>Societe</th>
      						<th>Poste</th>
      						<th>Email</th>
      					</tr>
      				</thead>
      				<tbody>
      					<tr>
      						<td>Hamid Gagayo</td>
      						<td>BG Soutions</td>
      						<td>Developpeur</td>
      						<td>hamid@expat.com</td>
      					</tr>
      					      					<tr>
      						<td>Ali Moussa</td>
      						<td>BG Soutions</td>
      						<td>Administrateur</td>
      						<td>ali@doc.com</td>
      					</tr>
      					      					<tr>
      						<td>Ngom Moussa</td>
      						<td>BG Soutions</td>
      						<td>Assistant</td>
      						<td>ngom@expat.com</td>
      					</tr>
      					      					<tr>
      						<td>Tom Kali</td>
      						<td>BG Soutions</td>
      						<td>Developpeur</td>
      						<td>kali@expat.com</td>
      					</tr>
      				</tbody>
      			</table>
      		</div>
      	</div>
      </div>
      <div class="col-md-4">
      	<div class="card">
      		<div class="card-header">Infos Direct</div>
      		<div class="card-body">
      			<table class="table table-bordered table-hover">
			<tbody>
				<p class="alert alert-info">En construction !!!</p>
			</tbody>
      	</table>
      		</div>
      	</div>	
      </div>
    </div>
</div>
  
